<fieldset>
    <table>
        <tr>
                <td><%=f.input :created_at,  value: DateTime.now, as: :string, :format=> :default, readonly: :true  %></td>
                <td><%=f.input :amount, :label =>'Pagos'  %></td>

        </tr>
    </table>
</fieldset>
