<fieldset class="pull-right total_1">
    <table>
            <tr>
                 <%if params[:action] != 'new'  %>
                         <td><%=f.input :created_at,  value: DateTime.now, as: :string, :format=> :default, readonly: :true  %></td>
                         <% end %>
                <td><%=f.input :amount, :label =>'Pagos'  %></td>

        </tr>
    </table>
</fieldset>
